@model IndieFusionFinal.Models.Game

@{
    ViewData["Title"] = "Delete";
    var username = Context.Session.GetString("Username"); // Obtém o nome de usuário da sessão usando Context
    var imagePath = Context.Session.GetString("ImagePath") ?? "/IF/Img/Icones/PerfilWhite.png";
}

<section id="top" class="topbar">
    <div class="topbar_container">
        <div class="topbar__content">
            <div class="logo-container">
                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="topbar__logo">
                        <h4 class="logo-text">
                            INDIE
                            <span> FUSION</span>
                        </h4>
                    </div>
                </a>
            </div>

            <nav class="topbar__menu" id="mainMenu">
                <ul>
                    <li><a class="nav-link text-white" asp-area="" asp-controller="GameMakers" asp-action="GameUser">MeusJogos</a></li>
                </ul>
            </nav>

            <div class="topbar__menuhomePerfil">
                <li class="perfil-container">
                    <button id="perfilBtn">
                        <img src="@Url.Content(imagePath)" alt="Perfil" class="img-thumbnail" />
                    </button>
                    <span id="perfilNome" class="perfil-nome">@username.ToUpper()</span>
                    <div id="menu" class="menu">
                        <a asp-area="" asp-controller="GameMakers" asp-action="GameUser">Meus Jogos</a>
                        <a asp-area="" asp-controller="Templates" asp-action="TemplatePerfil">Perfil</a>
                        <a asp-area="" asp-controller="Home" asp-action="Logout">Logout</a>
                    </div>
                </li>


                <div class="hamburger-menu" id="hamburgerMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>

                <div class="mode-container">
                    <button id="btnMode" class="topbar__btn">
                         <img src="~/Img/Icones/moon.png" alt="Modo Escuro">
                    </button>
                    <span class="mode-nome">Temas</span>
                </div>

                <!-- Menu de seleção de temas -->


                <div id="themeMenu" class="theme-menu">
                    <div class="theme-group">
                        <div class="theme-category" onclick="toggleThemeOptions('light')">Light Mode</div>
                        <div class="theme-options" id="light-options">
                            <div class="theme-option" onclick="changeTheme('NebulosaSolarLightMode')">Nebulosa Solar</div>
                            <div class="theme-option" onclick="changeTheme('AuroraNebulosaLightMode')">Aurora Nebulosa</div>
                            <div class="theme-option" onclick="changeTheme('GalaxiaAzuladaLightMode')">Galáxia Azulada</div>
                            <div class="theme-option" onclick="changeTheme('NebulosaLilasLightMode')">Nebulosa Lilás</div>
                            <div class="theme-option" onclick="changeTheme('EstrelaDouradaLightMode')">Estrela Dourada</div>
                        </div>
                    </div>

                    <div class="theme-group">
                        <div class="theme-category" onclick="toggleThemeOptions('dark')">Dark Mode</div>
                        <div class="theme-options" id="dark-options">
                            <div class="theme-option" onclick="changeTheme('NebulosaVermelhaMode')">Nebulosa Vermelha</div>
                            <div class="theme-option" onclick="changeTheme('BuracoNegroMode')">Buraco Negro</div>
                            <div class="theme-option" onclick="changeTheme('AuroraBorealMode')">Aurora Boreal</div>
                            <div class="theme-option" onclick="changeTheme('EstrelaAzulMode')">Estrela Azul</div>
                            <div class="theme-option" onclick="changeTheme('NebulosaLilasMode')">Nebulosa Lilás</div>
                        </div>
                    </div>

                    <div class="theme-group">
                        <div class="theme-category" onclick="toggleThemeOptions('neon')">Neon Mode</div>
                        <div class="theme-options" id="neon-options">
                            <div class="theme-option" onclick="changeTheme('Neon1Mode')">Neon Trifecta</div>
                            <div class="theme-option" onclick="changeTheme('NeonSpectrumMode')">Neon Spectrum</div>
                            <div class="theme-option" onclick="changeTheme('NeonVaporwaveMode')">Neon Vaporwave</div>
                            <div class="theme-option" onclick="changeTheme('NeonCyberMode')">Neon Cyber</div>
                            <div class="theme-option" onclick="changeTheme('NeonAuroraMode')">Neon Aurora</div>
                        </div>
                    </div>

                    <div class="theme-group">
                        <div class="theme-category" onclick="toggleThemeOptions('colors')">Cores Padrões</div>
                        <div class="theme-options" id="colors-options">
                            <div class="theme-option" onclick="changeTheme('GalaxiaPadraoMode')">Galáxia Padrão</div>
                            <div class="theme-option" onclick="changeTheme('darkGalaxyAMOLEDMode')">Dark Galaxy</div>
                            <div class="theme-option" onclick="changeTheme('GalaxiaPadraoLightMode')">Light Galaxy</div>
                            <div class="theme-option" onclick="changeTheme('YingYangNeonGalaticoMode')">Ying Yang Galatico</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<section id="tableT" class="tableBlc">
    <div class="tableBlc_container">
        <h1>Delete</h1>

        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Game</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Title)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Title)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Producer)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Producer)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.price)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.price)</dd>

                <dt class="col-sm-2">Imagem</dt>
                <dd class="col-sm-10">
                    <img src="@Url.Content(Model.ImagePath)" alt="@Model.Title" style="width: 150px; height: 150px;" />
                </dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.User)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.User.Email)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Classification)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Classification.Description)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Genre)</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Genre.Description)</dd>

                <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Genre2)</dt>
                <dd class="col-sm-10">
                    @if (Model.Genre2 != null)
                    {
                        @Html.DisplayFor(model => model.Genre2.Description)
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </dd>


            </dl>

            <form asp-action="DeleteGame">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="DeleteGame" class="btn btn-danger" /> |
                <a asp-action="GameUser" class="btn-action">Back to List</a>
            </form>
        </div>
    </div>
</section>
<script src="~/js/script.js"></script>

